n8n-workflow-disparo-massa.json
{
  "name": "FlowLux - Disparo em Massa WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Verificar a cada 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/rpc/get_pending_mass_messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-disparos-alt",
      "name": "Buscar Disparos Pendentes (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "disabled": true,
      "notes": "Alternativa via RPC. Use se preferir criar a function no Supabase."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?status=eq.scheduled&scheduled_at=lte.now()&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-disparos",
      "name": "1. Buscar Disparos Agendados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-results",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-results",
      "name": "Tem disparos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "notes": "Se o array retornado tiver itens, segue o fluxo. Se nao, para."
    },
    {
      "parameters": {
        "fieldToSplitOut": "=",
        "options": {}
      },
      "id": "split-disparos",
      "name": "2. Loop por Disparo",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, -100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"sending\" }",
        "options": {}
      },
      "id": "update-sending",
      "name": "3. Status → Enviando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/leads?user_id=eq.{{ $('2. Loop por Disparo').item.json.user_id }}&select=id,name,phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-leads",
      "name": "4. Buscar Leads do Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('2. Loop por Disparo').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"total_count\": {{ $json.length }} }",
        "options": {}
      },
      "id": "update-total",
      "name": "5. Salvar total_count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/whatsapp_instances?user_id=eq.{{ $('2. Loop por Disparo').item.json.user_id }}&status=eq.connected&select=instance_name&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-instancia",
      "name": "6. Buscar Instância WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-instance",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-instance",
      "name": "Instância conectada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -100]
    },
    {
      "parameters": {
        "jsCode": "// Pega os leads do node 4 e a instância do node 6\nconst leads = $('4. Buscar Leads do Usuário').all().map(i => i.json);\nconst instanceName = $('6. Buscar Instância WhatsApp').first().json[0]?.instance_name || $('6. Buscar Instância WhatsApp').first().json.instance_name;\nconst massMessage = $('2. Loop por Disparo').item.json;\n\n// Retorna array de itens para o loop\nconst items = leads.map(lead => {\n  const phone = lead.phone.replace(/\\D/g, '');\n  const number = phone.startsWith('55') ? phone : '55' + phone;\n  return {\n    json: {\n      lead_id: lead.id,\n      lead_name: lead.name,\n      lead_phone: lead.phone,\n      number: number,\n      remoteJid: number + '@s.whatsapp.net',\n      instanceName: instanceName,\n      message: massMessage.message,\n      mass_message_id: massMessage.id,\n      user_id: massMessage.user_id\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "prepare-leads",
      "name": "7. Preparar Lista de Envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-leads",
      "name": "8. Loop por Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2200, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.devnoflow.com.br/message/sendText/{{ $json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "gJRYf6JN8RsL2jrPolWZaI7LNOe6XDMC"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-mensagem",
      "name": "9. Enviar via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, -200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('2. Loop por Disparo').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sent_count\": {{ $('2. Loop por Disparo').item.json.sent_count + 1 }}\n}",
        "options": {}
      },
      "id": "incrementar-count",
      "name": "10. Incrementar sent_count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, -200]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 6) + 3 }}",
        "unit": "seconds"
      },
      "id": "delay-antiban",
      "name": "11. Delay Anti-Ban (3-8s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2860, -200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('2. Loop por Disparo').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"completed\" }",
        "options": {}
      },
      "id": "update-completed",
      "name": "12. Status → Concluído",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('2. Loop por Disparo').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$credentials.supabaseApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"failed\" }",
        "options": {}
      },
      "id": "update-failed",
      "name": "Falha: Sem Instância",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0]
    }
  ],
  "connections": {
    "Verificar a cada 1 min": {
      "main": [
        [
          {
            "node": "1. Buscar Disparos Agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Disparos Agendados": {
      "main": [
        [
          {
            "node": "Tem disparos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem disparos?": {
      "main": [
        [
          {
            "node": "2. Loop por Disparo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "2. Loop por Disparo": {
      "main": [
        [
          {
            "node": "3. Status → Enviando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Status → Enviando": {
      "main": [
        [
          {
            "node": "4. Buscar Leads do Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Buscar Leads do Usuário": {
      "main": [
        [
          {
            "node": "5. Salvar total_count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Salvar total_count": {
      "main": [
        [
          {
            "node": "6. Buscar Instância WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Buscar Instância WhatsApp": {
      "main": [
        [
          {
            "node": "Instância conectada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instância conectada?": {
      "main": [
        [
          {
            "node": "7. Preparar Lista de Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Falha: Sem Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Preparar Lista de Envio": {
      "main": [
        [
          {
            "node": "8. Loop por Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Loop por Lead": {
      "main": [
        [
          {
            "node": "9. Enviar via Evolution API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "12. Status → Concluído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Enviar via Evolution API": {
      "main": [
        [
          {
            "node": "10. Incrementar sent_count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Incrementar sent_count": {
      "main": [
        [
          {
            "node": "11. Delay Anti-Ban (3-8s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Delay Anti-Ban (3-8s)": {
      "main": [
        [
          {
            "node": "8. Loop por Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Status → Concluído": {
      "main": [
        [
          {
            "node": "2. Loop por Disparo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "FlowLux",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
