database/n8n-workflow-disparo-massa.json
{
  "name": "FlowLux - Disparo em Massa WhatsApp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "8ff34881-7e89-4acd-98e1-c2077cfadf36",
      "name": "Verificar a cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "url": "https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?status=eq.scheduled&scheduled_at=lte.now()&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "d92bf756-b201-4630-add4-23a8c8d9f122",
      "name": "1. Buscar Disparos Agendados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 340],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Supabase REST API retorna array. O HTTP Request do n8n pode retornar:\n// - Um item com json sendo o array inteiro: [{json: [{...}, {...}]}]\n// - Ou items separados: [{json: {...}}, {json: {...}}]\n\nconst allItems = $input.all();\nlet disparos = [];\n\nfor (const item of allItems) {\n  if (Array.isArray(item.json)) {\n    // Veio como array dentro do json\n    disparos = disparos.concat(item.json);\n  } else if (item.json && item.json.id) {\n    // Veio como item individual\n    disparos.push(item.json);\n  }\n}\n\n// Filtra apenas os que estao scheduled\ndisparos = disparos.filter(d => d.status === 'scheduled' && d.id);\n\nif (disparos.length === 0) {\n  return []; // Para o fluxo - sem disparos\n}\n\n// Retorna cada disparo como um item separado\nreturn disparos.map(d => ({ json: d }));"
      },
      "id": "sep-disparos-01",
      "name": "2. Separar Disparos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "norm-id",
              "name": "mass_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "norm-user",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "norm-msg",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "norm-inst",
              "name": "instance_id",
              "value": "={{ $json.instance_id }}",
              "type": "string"
            },
            {
              "id": "norm-tags",
              "name": "target_tags",
              "value": "={{ JSON.stringify($json.target_tags || []) }}",
              "type": "string"
            },
            {
              "id": "norm-stages",
              "name": "target_stages",
              "value": "={{ JSON.stringify($json.target_stages || []) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "norm-01",
      "name": "3. Normalizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 340]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $json.mass_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"sending\" }",
        "options": {}
      },
      "id": "status-sending-01",
      "name": "4. Status → Enviando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 340],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/leads?user_id=eq.{{ $('3. Normalizar Dados').item.json.user_id }}&archived=eq.false&deleted_at=is.null&select=id,name,phone,stage_id,lead_tags(tag_id)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "buscar-leads-01",
      "name": "5. Buscar Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 340],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/whatsapp_instances?id=eq.{{ $('3. Normalizar Dados').item.json.instance_id }}&deleted_at=is.null&select=instance_name,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "buscar-inst-01",
      "name": "6. Buscar Instancia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 340],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega leads do node 5 - pode vir como array dentro de json ou items separados\nconst leadsRaw = $('5. Buscar Leads').all();\nlet allLeads = [];\nfor (const item of leadsRaw) {\n  if (Array.isArray(item.json)) {\n    allLeads = allLeads.concat(item.json);\n  } else if (item.json?.id) {\n    allLeads.push(item.json);\n  }\n}\nif (allLeads.length === 0) return [{json: {error: 'no_leads'}}];\n\n// Pega instancia do node 6\nconst instRaw = $('6. Buscar Instancia').all();\nlet instanceName = '';\nlet instanceStatus = '';\nfor (const item of instRaw) {\n  if (Array.isArray(item.json) && item.json.length > 0) {\n    instanceName = item.json[0].instance_name || '';\n    instanceStatus = item.json[0].status || '';\n  } else if (item.json?.instance_name) {\n    instanceName = item.json.instance_name;\n    instanceStatus = item.json.status || '';\n  }\n}\nif (!instanceName) return [{json: {error: 'no_instance'}}];\nif (instanceStatus !== 'connected') return [{json: {error: 'instance_disconnected', instanceName}}];\n\nconst massData = $('3. Normalizar Dados').first().json;\n\n// Parse filtros de tags e stages\nfunction toArr(v) {\n  if (!v) return [];\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') { try { return JSON.parse(v) || []; } catch(e) { return []; } }\n  return [];\n}\nconst targetTags = toArr(massData.target_tags);\nconst targetStages = toArr(massData.target_stages);\n\n// Filtrar leads por tags e/ou stages\nconst filteredLeads = allLeads.filter(lead => {\n  if (!lead || !lead.id) return false;\n  const leadTagIds = (lead.lead_tags || []).map(lt => lt.tag_id);\n  const tagOk = targetTags.length === 0 || targetTags.some(t => leadTagIds.includes(t));\n  const stageOk = targetStages.length === 0 || targetStages.includes(lead.stage_id);\n  return tagOk && stageOk;\n});\n\nif (filteredLeads.length === 0) return [{json: {error: 'no_leads_matched'}}];\n\n// Retorna lista de envio\nreturn filteredLeads.map(lead => {\n  const phone = (lead.phone || '').replace(/\\D/g, '');\n  const number = phone.startsWith('55') ? phone : '55' + phone;\n  return {\n    json: {\n      lead_id: lead.id,\n      lead_name: lead.name,\n      lead_phone: lead.phone,\n      number: number,\n      remoteJid: number + '@s.whatsapp.net',\n      instanceName: instanceName,\n      message: massData.message,\n      mass_id: massData.mass_id,\n      user_id: massData.user_id\n    }\n  };\n});"
      },
      "id": "preparar-envio-01",
      "name": "7. Preparar Lista de Envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error-01",
      "name": "Tem leads para enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2380, 340]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('3. Normalizar Dados').item.json.mass_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"total_count\": {{ $input.all().length }}\n}",
        "options": {}
      },
      "id": "save-total-01",
      "name": "8. Salvar total_count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 260],
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-01",
      "name": "9. Loop por Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2860, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.devnoflow.com.br/message/sendText/{{ $json.instanceName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enviar-msg-01",
      "name": "10. Enviar via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NJ2Tmv50xP6GfnHO",
          "name": "Header_evo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('3. Normalizar Dados').item.json.mass_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sent_count\": {{ $('9. Loop por Lead').context.currentRunIndex + 1 }}\n}",
        "options": {}
      },
      "id": "inc-sent-01",
      "name": "11. Incrementar sent_count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3340, 300],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 6) + 3 }}"
      },
      "id": "delay-01",
      "name": "12. Delay Anti-Ban (3-8s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3580, 300],
      "webhookId": "1b04489b-d969-47e0-b891-d192c06cb60e"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('3. Normalizar Dados').item.json.mass_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"completed\" }",
        "options": {}
      },
      "id": "status-done-01",
      "name": "13. Status → Concluido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 100],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/mass_messages?id=eq.{{ $('3. Normalizar Dados').item.json.mass_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"failed\" }",
        "options": {}
      },
      "id": "falha-01",
      "name": "Falha: Sem Leads/Instancia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 480],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "content": "# FlowLux - Disparo em Massa v2\n\n**Fluxo:**\n1. Busca disparos agendados (status=scheduled, scheduled_at <= now)\n2. Separa array do Supabase REST em items individuais\n3. Normaliza campos\n4. Marca status como 'sending'\n5. Busca leads do usuario (com filtros de tags/stages)\n6. Busca instancia WhatsApp\n7. Prepara lista de envio (filtra leads, formata numeros)\n8. Loop: envia msg via Evolution API → incrementa sent_count → delay anti-ban\n9. Marca status como 'completed'",
        "height": 580,
        "width": 3400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [380, 20],
      "typeVersion": 1,
      "id": "note-01",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Verificar a cada 5 min": {
      "main": [
        [
          {
            "node": "1. Buscar Disparos Agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Disparos Agendados": {
      "main": [
        [
          {
            "node": "2. Separar Disparos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Separar Disparos": {
      "main": [
        [
          {
            "node": "3. Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Normalizar Dados": {
      "main": [
        [
          {
            "node": "4. Status → Enviando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Status → Enviando": {
      "main": [
        [
          {
            "node": "5. Buscar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Buscar Leads": {
      "main": [
        [
          {
            "node": "6. Buscar Instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Buscar Instancia": {
      "main": [
        [
          {
            "node": "7. Preparar Lista de Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Preparar Lista de Envio": {
      "main": [
        [
          {
            "node": "Tem leads para enviar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem leads para enviar?": {
      "main": [
        [
          {
            "node": "8. Salvar total_count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Falha: Sem Leads/Instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Salvar total_count": {
      "main": [
        [
          {
            "node": "9. Loop por Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Loop por Lead": {
      "main": [
        [
          {
            "node": "13. Status → Concluido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10. Enviar via Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Enviar via Evolution API": {
      "main": [
        [
          {
            "node": "11. Incrementar sent_count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Incrementar sent_count": {
      "main": [
        [
          {
            "node": "12. Delay Anti-Ban (3-8s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Delay Anti-Ban (3-8s)": {
      "main": [
        [
          {
            "node": "9. Loop por Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "v2-fixed-2026-03-18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5bffdfbf51b3ac360223c2749699e9b7c407ef65e1900c9d34d27572fbc319c"
  },
  "id": "9SjBS4iJCfnuFqFY",
  "tags": [
    {
      "updatedAt": "2026-03-16T16:17:21.177Z",
      "createdAt": "2026-03-16T16:17:21.177Z",
      "id": "WXKzH4jXzCeFbAex",
      "name": "FlowLux"
    }
  ]
}
