database/n8n-workflow-mensagem-agendada.json
{
  "name": "FlowLux - Mensagem Agendada WhatsApp",
  "nodes": [
    {
      "parameters": {
        "content": "# Mensagem Agendada",
        "height": 704,
        "width": 3664,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        384
      ],
      "typeVersion": 1,
      "id": "183d1b22-1fc3-4460-a96c-b56a1d23ded8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "a9168d1d-a5a5-4c5d-8557-cb6384830cb7",
      "name": "Verificar a cada 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        832
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/scheduled_messages?id=eq.{{ $('Normalizacao').item.json.id_scheduled_messages }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"sent\" }",
        "options": {}
      },
      "id": "52fde094-5273-49c4-ad89-e4eb5f78226f",
      "name": "13. Status → Concluído",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        544
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccec13c3-a230-42c4-b88d-61296ac621de",
              "name": "id_scheduled_messages",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "72f3fca8-fed9-4e6b-9e3d-18bc5d77621d",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "1973344b-4a90-4457-8ae7-31d3cf2d13f6",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "edb1a963-caf3-4f29-99d8-f45faf5d51d5",
              "name": "instance_id",
              "value": "={{ $json.instance_id }}",
              "type": "string"
            },
            {
              "id": "c9567cca-cd8b-4e90-b065-26ec880c3f44",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        832
      ],
      "id": "7f242776-224e-48e6-a5d5-f2edeb4789f5",
      "name": "Normalizacao"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/scheduled_messages?id=eq.{{ $('Normalizacao').item.json.id_scheduled_messages }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"failed\" }",
        "options": {}
      },
      "id": "0d40e793-0b4d-48f3-ba94-d0792b6da174",
      "name": "Falha: Sem Instância",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        832
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evo.devnoflow.com.br/message/sendText/{{ $json.instanceName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e7a84d0a-feaa-4a3e-aabd-ba3277e56a8d",
      "name": "9. Enviar via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        544
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "NJ2Tmv50xP6GfnHO",
          "name": "Header_evo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-instance",
              "leftValue": "={{ $items(\"6. Buscar Instância WhatsApp\").length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "de92b48d-036e-4a34-bd4c-49e2fcc6a16f",
      "name": "Instância conectada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        704
      ]
    },
    {
      "parameters": {
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/whatsapp_instances?id=eq.{{ $('Normalizacao').item.json.instance_id }}&status=eq.connected&select=instance_name&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "363afddc-8923-4591-a7f2-5d04a60cec2d",
      "name": "6. Buscar Instância WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        704
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/leads?id=eq.{{ $('Normalizacao').item.json.lead_id }}&select=id,name,phone",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "51f3f840-d45d-4016-9b0e-5bc89c118574",
      "name": "4. Buscar Leads do Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        704
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-has-results",
              "leftValue": "={{ $('1. Buscar Disparos Agendados').item.json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf1be537-c784-485a-acff-4a8492cd01e0",
      "name": "Tem disparos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        832
      ],
      "notes": "Se o array retornado tiver itens, segue o fluxo. Se nao, para."
    },
    {
      "parameters": {
        "url": "https://ivlwadsixcetunnhkkam.supabase.co/rest/v1/scheduled_messages?status=eq.pending&scheduled_at=lte.now()&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "4897e372-389d-4fa0-82ff-ab2ad30f1020",
      "name": "1. Buscar Disparos Agendados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        832
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "Pv48djwcm2OcpOqt",
          "name": "FlowLux"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "13. Status → Concluído": {
      "main": [
        []
      ]
    },
    "Normalizacao": {
      "main": [
        [
          {
            "node": "Tem disparos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Enviar via Evolution API": {
      "main": [
        [
          {
            "node": "13. Status → Concluído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instância conectada?": {
      "main": [
        [
          {
            "node": "9. Enviar via Evolution API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Falha: Sem Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Buscar Instância WhatsApp": {
      "main": [
        [
          {
            "node": "Instância conectada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Buscar Leads do Usuário": {
      "main": [
        [
          {
            "node": "6. Buscar Instância WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem disparos?": {
      "main": [
        [
          {
            "node": "4. Buscar Leads do Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Disparos Agendados": {
      "main": [
        [
          {
            "node": "Normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar a cada 30 min": {
      "main": [
        [
          {
            "node": "1. Buscar Disparos Agendados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ac69d918-f8f0-440f-a102-edf3c1d1b66e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5bffdfbf51b3ac360223c2749699e9b7c407ef65e1900c9d34d27572fbc319c"
  },
  "id": "XKcXk2BqWqjOUOB1",
  "tags": [
    {
      "updatedAt": "2026-03-16T16:17:21.177Z",
      "createdAt": "2026-03-16T16:17:21.177Z",
      "id": "WXKzH4jXzCeFbAex",
      "name": "FlowLux"
    }
  ]
}